<div>
  <ul class="nav nav-pills nav-stacked">
    <li {% if page.chapter == 0 %}class="active"{% endif %} ><a href="{{ site.baseurl }}index">Preface</a></li>
    <li {% if page.chapter == 1 %}class="active"{% endif %} ><a href="{{ site.baseurl }}chapter1">Chapter 1</a></li>
    <li {% if page.chapter == 2 %}class="active"{% endif %} ><a href="{{ site.baseurl }}chapter2">Chapter 2</a></li>
    <li {% if page.chapter == 3 %}class="active"{% endif %} ><a href="{{ site.baseurl }}chapter3">Chapter 3</a></li>
    <li {% if page.chapter == 4 %}class="active"{% endif %} ><a href="{{ site.baseurl }}chapter4">Chapter 4</a></li>
    <li {% if page.chapter == 5 %}class="active"{% endif %} ><a href="{{ site.baseurl }}chapter5">Chapter 5</a></li>
    <li {% if page.chapter == 6 %}class="active"{% endif %} ><a href="{{ site.baseurl }}chapter6">Chapter 6</a></li>
    <li {% if page.chapter == 7 %}class="active"{% endif %} ><a href="{{ site.baseurl }}chapter7">Chapter 7</a></li>
    <li {% if page.chapter == 8 %}class="active"{% endif %} ><a href="{{ site.baseurl }}chapter8">Chapter 8</a></li>
  </ul>
</div>


