<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>#duke21c | {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="description" content="Field Notes for 21st Century Literacies" />
        <meta name="author" content="Duke21c Collective">
        
        <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap.css">
        <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap-responsive.css">
        
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    </head>

    <body class="with-navbar">
        <div class="container container-main">
            <div class="row">
                {% include header.html %}
            </div>

            <div class="row">
                <div class="offset1 span2">
                    {% include sidebar.html %}
                </div>
                <div class="span8">
                    {{ content }}
                </div>
            </div>

            <hr />

            <footer class="row">
                {% include footer.html %}
            </footer>
        </div>

        <script src="{{site.baseurl}}js/jquery-1.9.1.min.js"></script>
        <script src="{{site.baseurl}}js/bootstrap.js"></script>
    </body>
</html>
